# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore environment variables files
.env
token.json

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Ignore the file_system_backend folder
/file_system_backend/

# Ignore IDE directories
.idea/
.vscode/
.ide/